body {
  background-color: #136ca760;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

table {
  background-color: rgb(186, 191, 36);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

input,
select,
textarea {
  padding: 5px;
  margin-bottom: 15px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
